beautifulsoup4
curl-cffi
datasets
evaluate
gensim
html5lib
IProgress
ipykernel
matplotlib
nltk
nodriver
numpy
openai
pandas
pingouin
pprint
pyLDAvis
python-dotenv
requests
scattertext
scikit-learn
seaborn
shap
spacy[cuda-autodetect]
stanza
tomotopy
torch
torchvision
torchaudio
transformers[torch]
xgboost
wordcloud