datasets
evaluate
matplotlib
nltk
numpy
pandas
pprint
pyLDAvis
scattertext
scikit-learn
seaborn
spacy[cuda-autodetect]
stanza
tomotopy
torch
torchvision
torchaudio
transformers[torch]
xgboost
wordcloud