beautifulsoup4
curl-cffi
datasets
evaluate
gensim
html5lib
IProgress
ipykernel
matplotlib
nltk
nodriver
openai
pandas
pingouin
pyLDAvis
python-dotenv
requests
scattertext
scikit-learn
seaborn
shap
spacy[cuda12x]
stanza
tensorflow[and-cuda]
tf-keras
tomotopy
torch
torchvision
torchaudio
transformers[torch]
xgboost
wordcloud